
/* LAYOUT */

* {
    box-sizing: border-box;    
}
body {
    color: #ededed;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.home {
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8em;
}
.home-content {
    width: 50%;
}

/* NAVBAR */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.25em 8em;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    background: linear-gradient(to right, rgb(15, 83, 146), #081b29);
}
.navbar a {
    display: inline-block;
    font-size: 1rem;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2em;
}
.navbar a:hover,
.navbar a.active {    
    color: #0ef;    
}

.header.animate .logo,
.header.animate .navbar a {
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.header.animate .navbar a {
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

/* TYPOGRAPHY */

.home-content h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content h3 {
    font-size: 2rem;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3:nth-of-type(2) {    
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
    margin-bottom: 30px;
}
.home-content h3 span {
    font-size: 2rem;
    font-weight: 700;
    color: #0ef;
}
.home-content p {
    font-size: 1rem;
    margin: 20px 0 40px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

/* IMAGES */

.logo {
    font-size: 1.25rem;
    color: #ededed;
    text-decoration: none;
    font-weight:600;
}

.home-img {
    max-width: 450px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}
img {
    max-width: 450px;
    border: 3px solid #00abf0;
    box-shadow: 0 0 10px #0ef;
    border-radius: 50%;
}

/* FOOTER */

.footer-links{
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content:flex-start;
    gap: 3vh;
    padding: 0 8em;
}
.footer-links a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 1.25rem;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.footer-links a:hover {
    color: #081b29;
}
.footer-links a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #0ef;
    z-index: -1;
    transition: .5s;
}
.footer-links a:hover::before {
    width: 100%;
}

/* ANIMATIONS */

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideBottom {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }    
}
@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}


/* MEDIA QUERIES */

@media (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 3em 0em;
    }
    main {
        flex-grow: 1;
        height: 750px;
        margin: 0;
    }
    .home {
        padding: 8em 0em 0em 0em;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 5em;  
    }
    .home-img {
        margin: 0em;
    }
    .home-content {
        width: 90%;
        margin-bottom: -1em;
    }
    .home-content h1 {
        font-size: 2rem;
        margin-bottom: 0;
    }
    .home-content h3 {
        font-size: 1.1rem;
        margin: .5em 0em;
    }
    .home-content h3 span {
        font-size: 1.1rem;
    }
    .home-content p {
        font-size: .8rem;
        line-height: 1.5;
        margin-bottom: 0;
    }
    .profile-pic {
        width: 250px;
    }

    footer {
        align-self: center;
        margin-top: 0;
    }
    .footer-links {
        justify-content: center;
        gap: 5vh;
        padding: 0; /* Removes side padding */
    }
}