
/* LAYOUT */

.learning-container {
    margin: 0;
    padding: 0 10%;
}

.section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3vh;
    margin-bottom: 20px;    
    height: max-content;   
}
.valgfag-beskrivelse {
    border: 1px solid #000;
    padding: 5px 10px;
    width: 100%;
    color: #081b29;
    background: white;
    border-radius: 5px;    
}

/* TYPOGRAPHY */

.learning-h1 {
    font-size: 1.5rem;
    margin: 20px 0;
}
.learning-container h2 {
    font-size: 1.3rem;
    margin-bottom: 20px;
}
.learning-container h3 {
    font-size: 1.1rem;    
    font-weight: 700;
}
.learning-container h4 {
    font-size: .9rem;
    margin-bottom: 20px;
    font-weight: 500;
}

.learning-container .outer-li {
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 0;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    margin-bottom: .5em;
}

ul ul {
    list-style-type: circle;
    font-size: 0.8rem;
    padding-left: 20pxr    
}

/* ACCORDION */

.container-accord {    
    padding: 7px 10px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #fff;
    color: #ededed;
    background: linear-gradient(180deg, #081b29, #000000);
    cursor: pointer;        
    border-radius: 5px;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer {
    max-height: 0;
    overflow: hidden;
    max-width: 480px;
    transition: max-height 1.4s ease;
}
.container-accord.active .answer {
    max-height: 650px;
    animation: fade 1s ease-in-out;
}
.container-accord.active svg {
    transform: rotate(180deg);
}
svg {
    transition: transform 0.5s ease-in;
}

/* ANIMATIONS */

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}