
.learning-container {
    margin: 0;
}

.column-1, .column-2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    height: 500px;
    margin-bottom: 20px;
}

.column-1 {
    color: #fff;
    background: #252525;
}
.column-2 {
    background: #fff;
    color: #252525;
}
.box {
    line-height: 30px;
    width: 570px;
    margin: 0 auto;
    padding: 10px 0;
}

.learning-h1 {
    font-size: 2rem;
    margin: 40px 0;
}
.learning-container h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.learning-container h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.learning-container .outer-li {
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 0;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul ul {
    list-style-type: circle;
    padding-left: 20px;
}