
/* LAYOUT */

.accordion-container {
    display: flex;
    justify-content: space-between;
    color: black;
    padding: 0 8em
}
section {
    padding-bottom: 3em;   
}

.container-accord {    
    margin-top: 1.7em;
    padding: 0em 1em;
    border-radius: 5px;
    border: 2px solid #fff;
    cursor: pointer;    
    background: white;
}

/* TYPOGRAPHY */

.header-refleksion {    
    font-size: 1.5rem;
    padding: 1em 5.3em 0 5.3em;
}

.ressourcer-subheadings {
    text-decoration: underline;
    font-weight: bolder !important;
    margin: 1em 0;
}

.question h3 {
    font-size: 1rem;
}
.answer p {
    line-height: 1.5;
    font-size: 0.8rem;
    font-weight: 500;
}

/* ACCORDION SPECIFIC */

.check-icon {
    margin-left: auto;
    padding: .3em;
    margin-right: 1em;
    border-radius: 50%;
    background-color: #160909;
}

.fa-calendar-days {
    margin-right: auto;
    padding: 1em 1em;
}
.question {
    height: 2.7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer {
    max-height: 0;
    overflow: hidden;
    max-width: 480px;
    transition: max-height 1.4s ease;
}

.container-accord.active .answer {
    max-height: 600px;
    animation: fade 1s ease-in-out;
}
.container-accord.active svg {
    transform: rotate(180deg);
}
svg {
    transition: transform 0.5s ease-in;
}

/* ANIMATION */

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}